PathRWData = "{{.zkevm_path_rw_data}}"
L1URL="{{.l1_rpc_url}}"
L2URL="{{.l2_rpc_url}}"
{{- if eq .agglayer_endpoint "grpc" }}
AggLayerURL="{{.agglayer_grpc_url}}"
{{- else }}
AggLayerURL="{{.agglayer_readrpc_url}}"
{{- end }}
ForkId = {{.zkevm_rollup_fork_id}}
IsValidiumMode = {{.is_validium_mode}}
NetworkID = {{.zkevm_rollup_id}}
ContractVersions = "{{.zkevm_rollup_fork_name}}"

L2Coinbase =  "{{.l2_sequencer_address}}"
SequencerPrivateKeyPath = "{{or .l2_sequencer_keystore_file "/etc/cdk/sequencer.keystore"}}"
SequencerPrivateKeyPassword  = "{{.l2_keystore_password}}"

AggregatorPrivateKeyPath = "{{or .l2_aggregator_keystore_file "/etc/cdk/aggregator.keystore"}}"
AggregatorPrivateKeyPassword  = "{{.l2_keystore_password}}"
SenderProofToL1Addr = "{{.l2_aggregator_address}}"
# polygonBridgeAddr param is removed in Aggkit versions >= 0.8, but this config file is strictly for CDK-Node, so the changes won't apply here.
polygonBridgeAddr = "{{.zkevm_bridge_address}}"

RPCURL = "{{.l2_rpc_url}}"
WitnessURL = "{{.l2_rpc_url}}"

# This values can be override directly from genesis.json
rollupCreationBlockNumber = "{{.rollup_manager_block_number}}"
rollupManagerCreationBlockNumber = "{{.rollup_manager_block_number}}"
genesisBlockNumber = "{{.rollup_manager_block_number}}"
[L1Config]
	chainId = "{{.l1_chain_id}}"
	polygonZkEVMGlobalExitRootAddress = "{{.l1_ger_address}}"
	polygonRollupManagerAddress = "{{.rollup_manager_address}}"
	polTokenAddress = "{{.pol_token_address}}"
	polygonZkEVMAddress = "{{.rollup_address}}"

[L2Config]
	GlobalExitRootAddr = "{{.l2_ger_address}}"

[Log]
Level = "{{.log_level}}"
Outputs = ["stderr"]
Environment = "{{.environment}}"

[Aggregator]
        Port = "{{.aggregator_port_number}}"
        RetryTime = "30s"
        VerifyProofInterval = "10s"
        GasOffset = 150000
        SettlementBackend = "agglayer"
        [Aggregator.DB]
                Name = "{{.aggregator_db.name}}"
                User = "{{.aggregator_db.user}}"
                Password = "{{.aggregator_db.password}}"
                Host = "{{.aggregator_db.hostname}}"
                Port = "{{.aggregator_db.port}}"
                EnableLog = false
                MaxConns = 200

[AggSender]
CertificateSendInterval = "1m"
CheckSettledInterval = "5s"

[ClaimSponsor]
DBPath = "{{.zkevm_path_rw_data}}/claimsponsor.sqlite"
Enabled = "{{.enable_aggkit_claim_sponsor}}"
SenderAddr = "{{.l2_claimsponsor_address}}"
BridgeAddrL2 = "{{.zkevm_bridge_l2_address}}"

[ClaimSponsor.EthTxManager]
PrivateKeys = [
    {Path = "/etc/cdk/claimsponsor.keystore", Password = "{{.l2_keystore_password}}"},
]
StoragePath = "{{.zkevm_path_rw_data}}/ethtxmanager-claimsponsor.sqlite"

[ClaimSponsor.EthTxManager.Etherman]
URL = "{{.l2_rpc_url}}"
L1ChainID = "{{.zkevm_rollup_chain_id}}"
