# manual bridge claiming
bridge-deposits.json
claimable-txs.json
proof.json

# default parameters
input-parser-args.yml
kurtosis-args.yml
params-args.yml

# docs
.vscode
.code
.idea
site/
venv/
env/
*.out
node_modules/
.DS_Store
**/.DS_Store
*.iml
temp_dir/
package-lock.json
package.json
