apiVersion: 1

groups:
  - orgId: 1
    name: default
    folder: default
    interval: 1m
    rules:
      - uid: c5a533c0-5bb5-41ac-9bdf-02341f743c47
        title: Chain has halted
        condition: C
        data:
          - refId: A
            relativeTimeRange:
              from: 600
              to: 0
            datasourceUid: PBFA97CFB590B2093
            model:
              editorMode: builder
              expr: changes(panoptichain_rpc_height[10m])
              hide: false
              intervalMs: 1000
              legendFormat: __auto
              maxDataPoints: 43200
              range: true
              refId: A
          - refId: B
            relativeTimeRange:
              from: 600
              to: 0
            datasourceUid: __expr__
            model:
              conditions:
                - evaluator:
                    params: []
                    type: gt
                  operator:
                    type: and
                  query:
                    params:
                      - B
                  reducer:
                    params: []
                    type: last
                  type: query
              datasource:
                type: __expr__
                uid: __expr__
              expression: A
              hide: false
              intervalMs: 1000
              maxDataPoints: 43200
              reducer: mean
              refId: B
              type: reduce
          - refId: C
            relativeTimeRange:
              from: 600
              to: 0
            datasourceUid: __expr__
            model:
              conditions:
                - evaluator:
                    params:
                      - 1
                    type: lt
                  operator:
                    type: and
                  query:
                    params:
                      - C
                  reducer:
                    params: []
                    type: last
                  type: query
              datasource:
                type: __expr__
                uid: __expr__
              expression: B
              hide: false
              intervalMs: 1000
              maxDataPoints: 43200
              refId: C
              type: threshold
        noDataState: NoData
        execErrState: Error
        for: 5m
        isPaused: false

{{- if and .SlackChannel .SlackToken .MentionUsers }}
contactPoints:
  - orgId: 1
    name: default
    receivers:
      - uid: default
        type: slack
        settings:
          recipient: {{ .SlackChannel }}
          token: {{ .SlackToken }}
          mentionUsers: {{ .MentionUsers }}

policies:
  - orgId: 1
    receiver: default
    group_by:
      - grafana_folder
      - alertname
{{- end }}

