grpc-endpoint = "0.0.0.0:{{ .agglayer_prover_port }}"
max-concurrency-limit = 100
max-request-duration = 300
max-buffered-queries = 100

[log]
# level = "{{.log_level}}"
level = "debug" # we want debug visibility for now
outputs = ["stderr"]
format = "{{.log_format}}"

[telemetry]
prometheus-addr = "0.0.0.0:{{.prometheus_port}}"

{{if or (eq .zkevm_rollup_fork_id "9") (eq .zkevm_rollup_fork_id "11")}}
[cpu-prover]
enabled = {{.is_cpu_prover_enabled}}
max-concurrency-limit = 100
proving-timeout = 900

[network-prover]
enabled = {{.is_network_prover_enabled}}
{{else}}
[primary-prover.{{.primary_prover}}]
{{end}}
proving-timeout = 900

[grpc]
# size is define in bytes e.g. 100 * 1024 * 1024
# same for `max-encoding-message-size`
# default value is equal to 4MB
max-decoding-message-size = 104857600
