[Log]
Environment = "development"     # "production" or "development"
Level = "{{.log_level}}"
Outputs = ["stderr"]

[Server]
Port = {{.zkevm_pool_manager_port}}
Host = "zkevm-pool-manager{{.deployment_suffix}}"
ReadTimeout = "60s"
WriteTimeout = "60s"
MaxRequestsPerIPAndSecond = 500
EnableHttpLog = true
BatchRequestsEnabled = false
BatchRequestsLimit = 20

[DB]
User = "{{.pool_manager_db.user}}"
Password = "{{.pool_manager_db.password}}"
Name = "{{.pool_manager_db.name}}"
Host = "{{.pool_manager_db.hostname}}"
Port = "{{.pool_manager_db.port}}"
EnableLog = false
MaxConns = 200

[Sender]
SequencerURL = "http://cdk-erigon-sequencer{{.deployment_suffix}}:{{.zkevm_rpc_http_port}}"
ResendTxsCheckInterval = "1s"
Workers = 5
QueueSize = 25

[Monitor]
L2NodeURL = "http://cdk-erigon-rpc{{.deployment_suffix}}:{{.zkevm_rpc_http_port}}"
Workers = 5
QueueSize = 25
RetryWaitInterval = "3s"
InitialWaitInterval = "1s"
TxLifeTimeMax = "300s"
