debug-mode = true

{{if and (ne .zkevm_fork_id "9") (ne .zkevm_fork_id "11")}}
# Only supported by fork 12+
mock-verifier = {{.mock_verifier}}
{{end}}

[full-node-rpcs]
{{- if eq .sequencer_type "op-geth" }}
# OP Stack RPC
1 = "{{.op_el_rpc_url}}"
{{- else }}
# TODO switch this to permissionless
1 = "http://{{.l2_rpc_name}}{{.deployment_suffix}}:{{.http_rpc_port_number}}"
{{- end }}

[proof-signers]
1 = "{{.l2_sequencer_address}}"

{{- if eq .agglayer_prover_primary_prover "network-prover" }}
[prover.network-prover]
proving-timeout = "5m"
sp1-cluster-endpoint = "{{.sp1_cluster_endpoint}}"
{{- else }}
[prover.mock-prover]
proving-timeout = "5m"
proving_request_timeout = "300s"
{{- end }}

[rpc]
{{- if eq (slice .agglayer_version 0 4) "0.2." }}
port = {{.agglayer_readrpc_port}}
{{- else }}
grpc-port = {{.agglayer_grpc_port}}
readrpc-port = {{.agglayer_readrpc_port}}
{{- end }}
{{- if ne .agglayer_admin_port "0" }}
admin-port = {{.agglayer_admin_port}}
{{- end }}
host = "0.0.0.0"
request-timeout = 180
# size is define in bytes e.g. 100 * 1024 * 1024
# same for `max_response_body_size`
# default value is equal to 10MB
max-request-body-size = 104857600

[grpc]
# size is define in bytes e.g. 100 * 1024 * 1024
# same for `max-encoding-message-size`
# default value is equal to 4MB
max-decoding-message-size = 104857600

[outbound.rpc.settle]
max-retries = 3
retry-interval = 7
confirmations = 1
settlement-timeout = 1200
gas-multiplier-factor = 175

[log]
# level = "{{.log_level}}"
level = "debug" # we want debug visibility for now
outputs = ["stderr"]
format = "{{.log_format}}"

[auth.local]
private-keys = [
    { path = "/etc/agglayer/aggregator.keystore", password = "{{.l2_keystore_password}}" },
]

[l1]
chain-id = {{.l1_chain_id}}
node-url = "{{.l1_rpc_url}}"
ws-node-url = "{{.l1_ws_url}}"
rollup-manager-contract = "{{.rollup_manager_address}}"
polygon-zkevm-global-exit-root-v2-contract = "{{.l1_ger_address}}"
rpc-timeout = 45

[l2]
rpc-timeout = 45

[telemetry]
prometheus-addr = "0.0.0.0:{{.prometheus_port}}"

# https://github.com/orgs/agglayer/discussions/213

[rate-limiting]
send-tx = "unlimited"
# [rate-limiting.send-tx]
# max-per-interval = 1
# time-interval = "15m"

[rate-limiting.network]

[epoch.block-clock]
epoch-duration = 15
genesis-block = {{.rollup_manager_block_number}}

[shutdown]
runtime-timeout = 5

[certificate-orchestrator]
input-backpressure-buffer-size = 1000

[certificate-orchestrator.prover.sp1-local]

[storage]
db-path = "/etc/agglayer/storage"

[storage.backup]
path = "/etc/agglayer/backups"
state-max-backup-count = 100
pending-max-backup-count = 100
