# See https://github.com/0xPolygon/panoptichain/blob/main/config.yml for how to
# configure this file.
http:
  address: "0.0.0.0"

providers:
  system:
    interval: 15s

  rpc:
    - name: "L1"
      url: "{{.l1_rpc_url}}"
      label: "L1"
      contracts:
        rollup_manager_address: "{{.zkevm_rollup_manager_address}}"
      time_to_mine:
        sender: "{{.l1_sender_address}}"
        sender_private_key: "{{.l1_sender_private_key}}"
        receiver: "{{.l1_receiver_address}}"
        value: 10000000000000 # 0.00001 ether
        gas_limit: 21000
        gas_price_factor: 3
      accounts:
        - "{{.l1_sender_address}}"
        - "{{.zkevm_l2_sequencer_address}}"
        - "{{.zkevm_l2_aggregator_address}}"
        - "{{.zkevm_l2_claimtxmanager_address}}"
        - "{{.zkevm_l2_timelock_address}}"
        - "{{.zkevm_l2_admin_address}}"
        - "{{.zkevm_l2_agglayer_address}}"
        - "{{.zkevm_l2_dac_address}}"

    - name: "L2"
      url: "{{.l2_rpc_url}}"
      label: "L2"
      contracts:
        global_exit_root_l2_address: "{{.zkevm_global_exit_root_l2_address}}"
        zkevm_bridge_address: "{{.zkevm_bridge_l2_address}}"
      time_to_mine:
        sender: "{{.l2_sender_address}}"
        sender_private_key: "{{.l2_sender_private_key}}"
        receiver: "{{.l2_receiver_address}}"
        value: 10000000000000 # 0.00001 ether
        gas_limit: 21000
        gas_price_factor: 3
      accounts:
        - "{{.l2_sender_address}}"
        - "{{.zkevm_l2_admin_address}}"
        - "{{.zkevm_l2_claimtxmanager_address}}"

networks:
  - name: "L1"
    chain_id: "{{.l1_chain_id}}"

  - name: "L2"
    chain_id: "{{.zkevm_rollup_chain_id}}"
    polygon_zkevm: true

logs:
  verbosity: "{{.log_level}}"
