---
name: Lint

on:
  pull_request:
  push:
    branches: [main]

concurrency:
  group: lint-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4

      - name: Load environment variables
        run: grep -vE '^\s*#|^\s*$' .github/workflows/.env >> $GITHUB_ENV

      # Install linters
      - name: Install kurtosis
        run: |
          echo "deb [trusted=yes] https://apt.fury.io/kurtosis-tech/ /" | sudo tee /etc/apt/sources.list.d/kurtosis.list
          sudo apt update
          sudo apt install kurtosis-cli=${{ env.KURTOSIS_VERSION }}
          kurtosis analytics disable

      - name: Install yamllint
        run: pip install yamllint

      - name: Install hadolint
        run: |
          sudo wget -O /usr/local/bin/hadolint https://github.com/hadolint/hadolint/releases/latest/download/hadolint-Linux-x86_64
          sudo chmod +x /usr/local/bin/hadolint

      - name: Install shellcheck
        run: sudo apt install shellcheck

      # Run linters
      - name: Run kurtosis linter
        run: kurtosis lint .

      - name: Run yamllint
        run: yamllint --config-file ${{ github.workspace }}/.yamllint.yml .

      - name: Run hadolint
        run: find . -type f -name '*.Dockerfile' | sort | xargs -I {} hadolint --config ${{ github.workspace }}/.hadolint.yml {}

      - name: Run shellcheck
        run: find . -type f -name '*.sh' | grep -v "./docs" | grep -v "/upgrade_forkid.sh" | sort | xargs -I {} shellcheck {}

  check-test-combinations-and-cdk-version-matrix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install yq
        run: |
          pip3 install yq
          yq --version

      - name: Generate test combinations and cdk version matrix
        working-directory: .github/tests
        run: ./combine-ymls.sh

      - name: Check if test combinations and cdk version matrix are up to date
        run: |
          if [[ -n $(git status --porcelain) ]]; then
            echo "❌ Error: Test combinations and/or CDK version matrix are not up to date. Please run \`./combine-ymls.sh\`."
            git status --porcelain
            git diff
            exit 1
          else
            echo "✅ Test combinations are up to date."
          fi
